body {
    background: skyblue;
}

input{
    margin: 0 auto;
    position: relative;
    display: block;
    width: 500px;
    margin-top: 50px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    outline: none;
  }

button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em 2em;
    width: 300px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    background-color: #cccccc;
    box-shadow: 0 5px 0 #aaaaaa;
    transition: 0.3s;
  }
  
  button::after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #333333;
    border-right: 3px solid #333333;
    transform: rotate(45deg);
  }
  
  button:hover {
    transform: translateY(3px);
    text-decoration: none;
    box-shadow: 0 2px 0 #aaaaaa;
  }