h1{
    background-color: #ffffff;
}

td,th{
    width:800px;
    text-align: center;
    font-size: 60px;
    background-color: #ff99ff
}
th{
    color: black;
    background-color: #ff99ff;
    font-size: 60px;
    text-align: center;
}

    