.calendar {
  border-collapse: collapse;
  table-layout: fixed;
}
.calendar th {
  border: 1px solid #000000;
  background-color: transparent;
  width: 300px;
  height: 50px;
  font-family:  "Yu Mincho";
}
.calendar td {
  border: 1px solid #000000;
  padding: 5px 10px;
  text-align: left;
  vertical-align: top;
  height: 100px;
}

/* http://xn--yck7ccu3lc7455coj5arwgo74a.jp/th.html */

th.sunday {
  background-color: #ff7777;
}
th.saturday {
  background-color: #8277ff;
}

.day {
  border-collapse: collapse;
  table-layout: fixed;
}
.day th {
  background-color: #d4ff5f;
  width: 300px;
  height: 20px;
}
.day td {
  padding: 5px 10px;
  text-align: left;
  height: 100px;
}

.daynum {
  font-size: 20px;
  cursor:pointer;
}





* {
  box-sizing: border-box;
}
body {
  font-family:'Avenir','Helvetica, Neue','Helvetica','Arial';
}


/* モーダルCSS */
.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 70%;
  max-width: 500px;
  padding: 10px 30px;
  background-color: #fff;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}






h1{
  font-family: "Yu Mincho";
  padding-left: 20px;
  font-size: 40px;
}
h2{
  font-family: "Yu Mincho";
  padding-left: 10px;
}

/*
table{
  margin-top: 30px;
  margin-left: 80px;
}
th{
  height: 60px;
  color: black;
  background-color: transparent;
  font-size: 60px;
  text-align: center;
  font-family:  "Yu Mincho";
}
tr *:first-child{
  color: #ff69b4;
}
tr *:last-child{
  color: #0ba9ea;
}
*/

button{
  margin-left: 10px;
}

.header{
  height: 60px;
}


.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: -1;
}
.Paper_v2 {
  background-image:
    repeating-linear-gradient(to bottom,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,  transparent 51px, 
      rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,  transparent 77px, 
      rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,  transparent 103px, 
      rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,  transparent 129px, 
      rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px),
 
    repeating-linear-gradient(to right,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,  transparent 51px, 
      rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,  transparent 77px, 
      rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,  transparent 103px, 
      rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,  transparent 129px, 
      rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px);
}